{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}

{% block content %}

<form class="form-signin text-center">
  <img class="mb-4" src="{% static 'signin.png' %}" alt="" width="148" height="148">
  <h1 class="h3 mb-3 font-weight-normal">Вход</h1>
  <label for="id_username" class="sr-only">Имя пользователя</label>
  <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="32"
    class="form-control" placeholder="Имя пользователя" title="" required="" id="id_username">
  <label for="id_password" class="sr-only">Пароль</label>
  <input type="password" autocomplete="current-password" class="form-control" placeholder="Пароль" title="" required=""
    id="id_password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>

{% endblock %}